<div class="content">
    <div class="col-md-12">
        <ng-template pTemplate="header">
        </ng-template>
      
      
    <div class="field"  >
        <label for="user">Kullanıcı</label>
        <p-dropdown  [(ngModel)]="selectedUser"  [options]="users" placeholder="Select" optionLabel="email">
        </p-dropdown>
    </div>
    <div class="field">
        <label for="claim">Rol</label>
        <p-dropdown [(ngModel)]="selectedClaim" [options]="claims" placeholder="Select" optionLabel="name">
        </p-dropdown>
    </div>



  
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save(selectedUser.id,selectedClaim.id)"></button>

    </div>
</div>