<div class="p-fluid p-grid">

    <div class="row mt-3">
        <div class="col-md-2">
            <label for="user">Kullanıcı</label>
        </div>
        <div class="col-md-4">
            <p-dropdown [(ngModel)]="selectedUser" [options]="users" placeholder="Select" optionLabel="email">
            </p-dropdown>
        </div>

    </div>
    <div class="row my-3">
        <div class="col-md-2">
            <label for="claim">Rol</label>
        </div>
        <div class="col-md-4">
            <p-dropdown [(ngModel)]="selectedClaim" [options]="claims" placeholder="Select" optionLabel="name">
            </p-dropdown>
        </div>
        <div class="col-md-2"> <button pButton pRipple icon="pi pi-plus" class="p-button-info "
                (click)="openNew()"></button></div>

    </div>


    <div class="row mt-2">
        <div class="col-md-6 d-flex justify-content-end"><button class="btn btn-md btn-success"
                (click)="save(selectedUser.id,selectedClaim.id)">Ekle</button></div>

    </div>
</div>
<p-dialog *ngIf="isNew" header="Rol" [(visible)]="isNew" [style]="{width: '400'}" [modal]="true" styleClass="p-fluid">

    <app-claim-add></app-claim-add>
</p-dialog>

<p-toast ></p-toast>
